#root {
  background: #1D1D1D;
}
.header {
  height: 15vh;
  display: flex;
  justify-content: space-around;
  color: gray
}
.container-fluid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 85vh;
  width: 100vw;
}

.right-section, .left-section {
  height: 500px;
  border: 1px solid #222;;
}
.canvas {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
  width: 500px;
  margin: 0px;       

}
.previous-commands {
  height: 440px;
  padding: 0px;
  overflow:hidden; 
  overflow-y:scroll;
  margin-bottom: 0;
  background: #1D1D1D;
}
.command .date {
  margin: 5px 15px;
  color: rgb(73, 73, 73);
}

.previous-commands::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #222;
}

.previous-commands::-webkit-scrollbar {
	width: 12px;
	background-color: #1D1D1D;
}

.previous-commands::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #1D1D1D;
}
.previous-commands .list-group-item-primary {
  background: rgb(63, 45, 45);
}
@media (max-width: 768px) {
  #root {
    width: 502px;
    height: 100%;
  }
  .container-fluid .left-section{
    padding: 0px;
    width: 100%;
  }
  .container-fluid .right-section{
    width: 100%;
  }
  .container-fluid {
    flex-direction: column;
    width: 502px !important;
    padding: 0px !important;
    height: 100%;
  }
  .action-panel {
    margin: 20px 20px 0 20px;

  }
  .current-commands input{
    width: 100%;
  }
}

.command span {
  color: rgb(158, 158, 158);
}
input {
  box-shadow: none !important;
}
.left-section .row {
  margin: 0px;
  justify-content: center;

}
.horizontal-wrapper {
  display: flex;
  flex-direction: row;
}
.vertical-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #222;
}
.cell {
  width: 20px;
  height: 20px;
  line-height: 18px;
  text-align: center;
  border: 1px solid #1D1D1D;
  color: rgb(170, 170, 170);
}

