#root {
  background: #1D1D1D;
}
.container-fluid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
}
.right-section, .left-section {
  height: 500px;
  border: 1px solid #222;;
}
.canvas {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;

}
@media (max-width: 768px) {
  .container-fluid {
    flex-direction: column;
  }
}
.container-fluid div {
  /* border: 1px solid red; */
}
.command span {
  color: white;
}
.command span {
  color: white;
}
input {
  box-shadow: none !important;
}
.left-section .row {
  margin: 0px;
  justify-content: center;

}
.horizontal-wrapper {
  display: flex;
  flex-direction: row;
}
.vertical-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #222;
}
.cell {
  width: 20px;
  height: 20px;
  line-height: 18px;
  text-align: center;
  border: 1px solid #1D1D1D;
  color: white;
}

